[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
jsonpath-ng = "*"
threading = "*"
atexit = "*"

[requires]
python_version = "3.6"
